name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  linux:
    name: 'sphinx v${{matrix.sphinx-version}} py${{matrix.python-version}}'
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10']
        sphinx-version: ['3.3', '3.4', '3.5', '4.0', '4.1', '4.2', '4.3', '4.4', '4.5']
        exclude:
          # sphinx versions incompatible with python 3.10
          - python-version: "3.10"
            sphinx-version: "3.5"
          - python-version: "3.10"
            sphinx-version: "4.0"
          - python-version: "3.10"
            sphinx-version: "4.1"

    steps:
      - name: checkout the repository
        uses: actions/checkout@v3

      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: cache pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: pip-py${{ matrix.python-version }}
          restore-keys: |
            pip-py${{ matrix.python-version }}

      - name: upgrade pip
        run: python -m pip install --upgrade pip

      - name: install sphinx
        run: |
          python -m pip install "sphinx==${{matrix.sphinx-version}}"
          if [[ "${{matrix.sphinx-version}}" < "4.0" ]]; then
              python -m pip install "jinja2<3.1"
          fi

      - name: install other dependencies
        run: python -m pip install -r docs/requirements.txt

      - name: install the extension
        run: python -m pip install .

      - name: show versions
        run: python -m pip list

      - name: build the documentation
        run: |
          cd docs
          python -m sphinx -M html -d _build/doctrees -EWT -a . _build/html
