name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  linux:
    name: 'sphinx v${{matrix.sphinx-version}} py${{matrix.python-version}}'
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9']
        sphinx-version: ['3.3', '3.4', '3.5', '4.0']

    steps:
      - name: checkout the repository
        uses: actions/checkout@v2

      - name: setup python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: cache pip
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: pip-py${{ matrix.python-version }}
          restore-keys: |
            pip-py${{ matrix.python-version }}

      - name: upgrade pip
        run: python -m pip install --upgrade pip

      - name: install sphinx
        run: |
          python -m pip install "sphinx==${{matrix.sphinx-version}}"

      - name: install other dependencies
        run: python -m pip install -r docs/requirements.txt

      - name: install the extension
        run: python -m pip install .

      - name: show versions
        run: python -m pip list

      - name: build the documentation
        run: |
          cd docs
          python -m sphinx -M html -d _build/doctrees -EWT -a . _build/html
