name: Upload package to PyPI

on:
  release:
    types: [created]

jobs:
  publish:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip build twine
      - name: Build
        run: |
          python -m build --sdist --wheel --outdir dist/ .
      - name: Check the built archives
        run: |
          twine check dist/*
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@e53eb8b103ffcb59469888563dc324e3c8ba6f06
        with:
          user: __token__
          password: ${{ secrets.pypi_token }}
          repository_url: https://upload.pypi.org/legacy/
          verify_metadata: true
